<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome back my friend</h1>
    <br>
   
    <% for(let post of posts){%>
        <div class="A">
        <h3>@<%=post.username%></h3>
        <h3><%=post.work%></h3>
        <a href="http://localhost:3000/post/<%=post.id%>">Show in details</a> &nbsp; &nbsp;
    
        <a href="http://localhost:3000/post/<%=post.id%>/edit">edit</a> &nbsp; &nbsp;
    
        <form method="post" action="/post/<%=post.id%>?_method=delete">
        <br><button>delete post</button>
        </form>
        </div>
        
    <%}
     %>
     <br>
     <br>
     <a href="http://localhost:3000/post/new">add websites</a>
</body>
</html>